In [16]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
data = pd.read_csv("user_movie_likes.csv")

In [46]:
data

       412  512
0      458  770
1      185   37
2      137  701
3      190  870
4      299  324
...    ...  ...
14994  296  419
14995   64  409
14996  221  687
14997    9  669
14998  456  236

[14999 rows x 2 columns]

In [47]:
data.rename(columns={"412": "userID", "512": "movieID"}, inplace=True)

In [48]:
data

       userID  movieID
0         458      770
1         185       37
2         137      701
3         190      870
4         299      324
...       ...      ...
14994     296      419
14995      64      409
14996     221      687
14997       9      669
14998     456      236

[14999 rows x 2 columns]

In [49]:
df_dummies = pd.get_dummies(data["movieID"])

In [50]:
df_dummies

,2,5,6,9,10,12,13,15,16,17,...,987,988,989,990,992,993,994,995,996,997
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df = pd.merge(data, df_dummies, how="left", left_index=True, right_index=True)

In [52]:
df

,userID,movieID,2,5,6,9,10,12,13,15,...,987,988,989,990,992,993,994,995,996,997
0,458,770,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,185,37,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,137,701,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,190,870,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,299,324,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,296,419,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14995,64,409,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14996,221,687,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14997,9,669,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14998,456,236,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df = df.sort_values("userID")

In [54]:
del df["movieID"]

In [55]:
df.set_index("userID", inplace=True)

In [56]:
df.reset_index(inplace=True)

In [57]:
df = df.groupby("userID").sum()

In [58]:
df

,2,5,6,9,10,12,13,15,16,17,...,987,988,989,990,992,993,994,995,996,997
userID,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
df.index.name = None

In [61]:
df

,2,5,6,9,10,12,13,15,16,17,...,987,988,989,990,992,993,994,995,996,997
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
from scipy.linalg import svd

In [63]:
U, Sigma, VT = svd(df)

In [64]:
pd.DataFrame(VT)

,0,1,2,3,4,5,6,7,8,9,...,676,677,678,679,680,681,682,683,684,685
0,-0.049399,-0.001764,-0.001980,-0.021368,-0.019978,-0.022072,-0.023380,-0.014119,-0.005967,-0.003744,...,-0.001980,-0.001879,-0.054955,-0.052441,-0.032934,-0.039264,-0.061753,-0.033065,-0.034385,-0.013903
1,-0.006395,-0.009404,-0.006226,-0.053631,-0.024169,-0.029632,-0.074942,-0.046366,-0.022006,-0.015630,...,-0.006226,-0.006714,-0.036382,-0.029744,-0.040939,-0.079318,-0.036692,-0.047962,-0.030898,-0.038913
2,-0.028010,0.025321,0.017766,0.029040,0.008563,-0.004302,0.065710,0.063007,0.025724,0.043087,...,0.017766,0.016204,-0.007016,-0.066932,0.014900,0.022088,0.002905,0.035570,-0.017388,0.029434
3,0.041954,0.010362,-0.004920,0.006001,0.006479,0.048431,0.059720,0.032454,-0.049889,0.005442,...,-0.004920,-0.050430,0.034485,0.035200,0.047091,0.068281,0.000604,0.047177,-0.004771,0.043374
4,-0.024768,0.000309,-0.021160,-0.006567,-0.006157,-0.041289,0.029923,0.008392,0.020074,-0.020852,...,-0.021160,-0.004354,-0.055776,-0.013834,-0.053751,0.019747,-0.094846,-0.040494,0.063153,-0.000161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,0.008873,-0.020718,-0.031265,-0.002101,-0.011663,-0.006001,0.001757,-0.000135,-0.003358,0.006681,...,-0.001155,-0.000518,-0.029999,-0.012071,-0.002353,0.607992,-0.011191,0.037581,0.017334,-0.024544
682,-0.006375,0.004499,0.002211,-0.000039,0.006754,-0.006158,0.000433,0.000051,-0.000849,-0.004404,...,0.004175,0.006527,0.010456,-0.009279,0.031480,-0.031534,0.029843,0.005240,0.004216,-0.014370
683,0.013637,-0.005523,-0.029257,-0.000917,0.022090,-0.019916,-0.005093,0.000142,-0.000467,0.003270,...,-0.005154,0.003782,0.003981,0.012285,0.026422,0.029346,-0.028538,0.364692,0.051619,-0.005902
684,-0.001223,-0.026393,-0.024580,0.008206,-0.014071,0.015971,0.008653,-0.000030,0.006396,-0.008471,...,0.009975,-0.000224,-0.000520,0.003287,0.023038,0.000814,0.021137,-0.002615,0.375874,0.008781
685,0.002602,-0.003521,-0.003343,-0.000467,-0.001280,-0.001106,0.000460,0.000012,0.000463,0.000079,...,0.006145,0.000875,0.006889,0.016470,0.015453,-0.025797,0.005141,0.013147,-0.008881,0.894190

In [70]:
dists

array([[0.        , 1.01760408, 1.01760408, ..., 0.80165818, 0.77992932,
        0.98077893],
       [1.01760408, 0.        , 1.00274725, ..., 0.7823073 , 1.01327436,
        1.0073292 ],
       [1.01760408, 1.00274725, 0.        , ..., 0.7823073 , 1.01327436,
        1.0073292 ],
       ...,
       [0.80165818, 0.7823073 , 0.7823073 , ..., 0.        , 0.85864303,
        0.85811485],
       [0.77992932, 1.01327436, 1.01327436, ..., 0.85864303, 0.        ,
        0.86754342],
       [0.98077893, 1.0073292 , 1.0073292 , ..., 0.85811485, 0.86754342,
        0.        ]])

In [79]:
df

,2,5,6,9,10,12,13,15,16,17,...,987,988,989,990,992,993,994,995,996,997
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
dists = pairwise_distances(df, metric='correlation')

In [73]:
dists

array([[0.        , 0.97370607, 0.94942985, ..., 1.01186371, 1.00549036,
        0.83952387],
       [0.97370607, 0.        , 0.84601877, ..., 1.06587173, 0.9561638 ,
        0.81900601],
       [0.94942985, 0.84601877, 0.        , ..., 1.04364634, 0.93771997,
        0.84116612],
       ...,
       [1.01186371, 1.06587173, 1.04364634, ..., 0.        , 1.03890681,
        1.02258911],
       [1.00549036, 0.9561638 , 0.93771997, ..., 1.03890681, 0.        ,
        0.9274611 ],
       [0.83952387, 0.81900601, 0.84116612, ..., 1.02258911, 0.9274611 ,
        0.        ]])

In [74]:
dist_df = pd.DataFrame(dists)

In [83]:
user_series = pd.Series(user)

In [84]:
user_series

0        0
1        2
2        3
3        5
4        6
      ...
360    493
361    494
362    495
363    496
364    499
Length: 365, dtype: int64

In [85]:
dist_df = pd.concat([user_series, dist_df], axis=1)

In [98]:
movie_nums = range(0, 365)
movie_nums = [num for num in movie_nums]

In [99]:
columns = ["userID"]

In [100]:
columns.extend(movie_nums)

In [101]:
dist_df.columns = columns

In [102]:
dist_df

,userID,0,1,2,3,4,5,6,7,8,...,355,356,357,358,359,360,361,362,363,364
0,0,0.000000,0.973706,0.949430,0.756757,0.897486,1.010309,1.008700,1.006729,0.853758,...,0.844422,0.926583,0.922881,0.902906,1.006729,0.855286,0.874330,1.011864,1.005490,0.839524
1,2,0.973706,0.000000,0.846019,0.890038,0.911451,0.973706,0.952598,0.917833,0.843235,...,0.886902,0.821086,0.955270,0.949087,0.974712,0.921278,0.908643,1.065872,0.956164,0.819006
2,3,0.949430,0.846019,0.000000,0.925825,0.870671,0.905181,0.927449,0.957364,0.939570,...,0.891356,0.889741,0.973730,0.948080,0.957364,0.819659,0.807360,1.043646,0.937720,0.841166
3,5,0.756757,0.890038,0.925825,0.000000,0.708747,0.756757,0.859271,0.813491,0.735656,...,0.869134,1.035040,0.935971,0.819943,0.619341,0.726999,0.700052,1.028914,0.768624,0.952505
4,6,0.897486,0.911451,0.870671,0.708747,0.000000,0.897486,0.601641,0.832585,0.638081,...,0.935787,0.871939,0.871047,0.839988,0.832585,0.850867,0.791725,1.042892,1.006903,0.964675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,493,0.855286,0.921278,0.819659,0.726999,0.850867,0.855286,0.887565,0.843077,0.901532,...,0.780432,0.895750,0.968996,0.860126,1.017974,0.000000,0.705989,1.024734,0.907641,0.819626
361,494,0.874330,0.908643,0.807360,0.700052,0.791725,0.801023,0.844454,0.790370,0.861131,...,0.868299,1.009728,0.748538,0.858935,0.902021,0.705989,0.000000,1.039643,0.874511,0.821889
362,495,1.011864,1.065872,1.043646,1.028914,1.042892,1.042460,1.025504,1.047686,0.968517,...,1.004188,1.041825,0.976242,1.049097,1.001087,1.024734,1.039643,0.000000,1.038907,1.022589
363,496,1.005490,0.956164,0.937720,0.768624,1.006903,0.467435,1.004633,0.184100,0.714710,...,0.901034,1.016433,1.008620,0.800981,0.593842,0.907641,0.874511,1.038907,0.000000,0.927461
364,499,0.839524,0.819006,0.841166,0.952505,0.964675,0.839524,0.913727,0.874130,0.926380,...,0.840543,0.820263,0.927362,0.895423,0.948057,0.819626,0.821889,1.022589,0.927461,0.000000

In [103]:
def recommend(userID):
    user_values = dist_df.loc[dist_df[userID]]
    closest_user = np.min(i for i in user_values if i > 0)

In [106]:
recommend(0)

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'